<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="GLamLooksApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GLamLooksApp"
        tools:targetApi="31">
        <activity
            android:name=".home.ManagerActivity"
            android:exported="false" />
        <!-- LoginActivity is the launcher activity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities without the LAUNCHER category -->
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="true"></activity>
        <activity
            android:name=".auth.ForgotPassword"
            android:exported="true"></activity>
        <activity
            android:name=".home.CustomerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- Remove the intent-filter with MAIN and LAUNCHER categories -->
        </activity>
    </application>

</manifest>